/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

form { margin: 0.4em 0; }
.admin { padding: 0.2em 0.6em; }
.admin h3 { margin-top: 10px; margin-bottom: 5px; }
.admin table { width: 630px; }
.admin table tr:hover { background-color: inherit; }

.log_messages ul { display: none; }